body {
	background-color: #444444;
	text-align: center
}
h1 {
	color: #ffffff;
}
button {
	font-size: 20px;
	margin-top: 10px;
	border-radius: 5px;
}
h2{
	color: #ffffff;
}

p{
	color: #ffffff;
	font-size: 30px;
}